.container {
    position: absolute;
    left: 18%;
    width: 50%;
}

.content {
    padding: 0 1.5rem;
    background: #fff;
    margin-top: 3rem;
    display: flex;
    flex-direction: column;
}

.content h3 {
    font-weight: 700;
    color: #212121;
    margin: 2rem 0;
}

.content img {
    height: 28rem;
    width: 50rem;
}

.content p {
    margin: 1rem 0;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 2.3rem;
    color: #212121;
}

@media (max-width: 1199.98px) {
    .container {
        left: 26%;
        width: 70%;
        top: 10vh;
    }
}

/* for Medium devices such as tablets */
@media (max-width: 991.98px) {
    .container {
        width: 72%;
    }
}

/* Small devices (landscape phone, ) */

@media (max-width: 767.98px) {
    .container {
        left: 0;
        width: 100%;
        top: 5vh;
    }

    .content img {
        height: 35rem;
        width: 66rem;
    }
    
}

/* Small devices such as phone */

@media (max-width: 575.98px) {
    .content img {
        height: 19rem;
        width: 37rem;
    }
 }